.cart-item {
  width: 85%;
  border: 2px solid var(--color-text);
  display: flex;
}

.item-image {
  margin: 1rem;
  width: 20vw;
  height: 20vw;
  object-fit: scale-down;
}

.item-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quantity-container {
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  height: 2rem;
}

.self-start {
  align-self: start;
}

.quantity-icon {
  width: 1.2rem;
}
