.cart-item {
  width: 80%;
  max-width: 700px;
  height: 130px;
  border: 2px solid var(--color-text);

  display: flex;
  align-items: center;

  box-sizing: border-box;
  padding: 0 1rem;
}

.item-image {
  height: 80%;
  aspect-ratio: 1 / 1;
  object-fit: scale-down;
}

.item-info {
  /* by default for an item in flexbox - min-width: auto*/
  /* which makes it stretch to its contents' width */
  /* min-width: 0 allows it to be smaller that its contents*/
  min-width: 0;
  flex-grow: 1;
  height: 100%;
  box-sizing: border-box;
  padding: 1rem 0 0 1rem;
}

.mt {
  margin-top: 0.5rem;
}

.quantity-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  height: 2rem;
  width: 100%;
}

.quantity-icon {
  height: 60%;
}
