.sidebar {
  position: fixed;
  top: 0;
  height: 100%;
  width: 50%;
  background-color: var(--color-bg);
  padding: 1rem 0 0 1rem;
  box-sizing: border-box;

  transform: translateX(200%);
  transition: transform ease 0.3s;
}

.open {
  transform: translateX(100%);
}

.sidebar-list {
  padding: 1rem 0 3rem 0;
}

.sidebar-list li {
  padding: 1rem 0;
  font-weight: 600;
  font-size: 1.2rem;
}

.theme-switch-container {
  display: flex;
  align-items: center;
  height: 3rem;
  gap: 0.5rem;
}
