* {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

:root {
  --color-light: #9691ef;
  --color-dark: #070525;
  --color-accent: #413c88;
}

main {
  background-color: var(--color-dark);
  flex: 1;
}

@keyframes blink {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

.loading-text {
  color: var(--color-light);
  text-align: center;
  animation: blink 1s infinite;
}

.price-text {
  color: var(--color-light);
  font-weight: 700;
}

.text-regular {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1;
  line-height: 1.4rem;
}

.text-small {
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1;
  line-height: 1.3rem;
}

.color-light {
  color: var(--color-light);
}
.color-dark {
  color: var(--color-dark);
}
